DATABASE_UR=postgresql://user:password@note-db:5432/note


REDIS_URL=redis://redis:6379/2 # note server
CELERY_BROKER_URL=redis://redis:6379/0 # note celery
CELERY_RESULT_BACKEND=redis://redis:6379/1 # note celer


REDIS_BACKEND=redis://redis:6379/3

MINIO__ENDPOINT=http://note-minio:9000
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO__SECRET_KEY=MINIO__SECRET_KEY
MINIO_BUCKET=note-md
MINIO_SUMMARY_BUCKET=daily-summary

OLLAMA_API_URL=http://ollama:11434

QDRANT_URL=http://note-qdrant:6333



MAIL_USERNAME=qaaaaaa@gmail.com
MAIL_PASSWORD=qaaaaaadsfdfdf
MAIL_FROM=qaaaaaa@gmail.com

# langfuse
LANGFUSE__PUBLIC_KEY=pk-lf-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
LANGFUSE__SECRET_KEY=sk-lf-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
LANGFUSE_HOST=http://langfuse-web:3000

LANGFUSE_INIT_USER_EMAIL=admin@example.com
LANGFUSE_INIT_USER_NAME=LANGFUSE_INIT_USER_NAME
LANGFUSE_INIT_USER_PASSWORD=LANGFUSE_INIT_USER_PASSWORD



REDIS_AUTH=REDIS_AUTH


# grafana

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin54321

# alertmanger
ALERT_EMAIL_TO=qaaaaaadsfdfdf@gmail.com
ALERT_RESOLVE_TIMEOUT=5m
SMTP_SMARTHOST=smtp.gmail.com:587
SMTP_FROM=qaaaaaadsfdfdf@gmail.com
SMTP_AUTH_USERNAME=qaaaaaadsfdfdf@gmail.com
SMTP_AUTH_PASSWORD=qaaaaaadsfdfdf
SMTP_REQUIRE_TLS=true
