DATABASE_UR=postgresql://user:password@note-db:5432/note


REDIS_URL=redis://redis:6379/2 # note server
CELERY_BROKER_URL=redis://redis:6379/0 # note celery
CELERY_RESULT_BACKEND=redis://redis:6379/1 # note celer


REDIS_BACKEND=redis://redis:6379/3

MINIO_ENDPOINT=http://note-minio:9000
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY
MINIO_BUCKET=note-md


OLLAMA_API_URL = "http://ollama:11434"

QDRANT_URL=http://note-qdrant:6333



MAIL_USERNAME = "aaaaaaaaaaa@gmail.com"
MAIL_PASSWORD= "cccc aaaa bbbb dddd"
MAIL_FROM = "qaaaaaa@gmail.com"

# langfuse
LANGFUSE_PUBLIC_KEY=LANGFUSE_PUBLIC_KEY
LANGFUSE_SECRET_KEY=LANGFUSE_SECRET_KEY
LANGFUSE_HOST=http://langfuse-web:3000

LANGFUSE_INIT_USER_EMAIL=admin@example.com
LANGFUSE_INIT_USER_NAME=LANGFUSE_INIT_USER_NAME
LANGFUSE_INIT_USER_PASSWORD=LANGFUSE_INIT_USER_PASSWORD



REDIS_AUTH=REDIS_AUTH
