# === Web API Framework ===
aiofiles
websockets
websocket-client

# === AI / LLM / NLP ===

langchain>=0.1.17
langchain-community>=0.0.17

langchain-ollama

# ML
scikit-learn==1.3.0
xgboost

# === Storage ===
boto3

# === Embeddings / Vector DB ===
qdrant-client
sentence-transformers>=5.1.0

# === SQL DB ===
sqlalchemy>=2.0.19
psycopg2-binary>=2.9.6

# === OCR / Image Processing ===
pillow

# === Data Processing ===

pandas>=2.0.3
pydantic>=2.0.0
# prefect>=3.0.0


# === Monitoring ===
prometheus_client


langfuse>=2.0.0,<3.0.0


# === Utility ===
python-dotenv>=1.0.0
pytest
pytest-asyncio
tqdm
firebase-admin
